{% extends "main/layout.html" %}

{% block head %}
    <style type="text/css">
        .logout-containter {
            text-align: right;
        }
    </style>
{% endblock %}

{% block menu %}
<ul class="nav navbar-nav">
    <li><a href="/scatter/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="center-div" class="col-md-12">
    <div id="center-div-board" class="col-md-8" align="center">
        <div id="rendering-panel" class="col-md-12" align="center">
            <h3>Rendering Panel</h3>
        </div>
        <div id="function-panel" class="col-md-12" align="center">
            <button id="submit-button" class="btn btn-default" type="button" onclick="onSubmit()">Submit</button>
            <button id="next-button" class="btn btn-default" type="button" onclick="onNextTest">Next Test</button>
        </div>
    </div>
    <div id="cluster-info-panel" class="col-md-4">
        <h3>Cluster Panel</h3>
        <div id="cluster-table"></div>
    </div>
    <div id="color-picker-window">
        <div id="color-picker-windowHeader">
            <span>
                <img src="../../images/movie.png" alt="" style="margin-right: 15px" />Picking Color
            </span>
        </div>
        <div style="overflow: hidden;" id="windowContent">
             <div id="colorPicker"></div>
             <div>
                <input type="button" value="Apply" id='color-apply-button' style="margin-top: 20px"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/jquery-2.0.3.js"></script>
<script type="text/javascript" src="/static/three.min.js"></script>
<script type="text/javascript" src="/static/d3.v3.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.columnsresize.js"></script> 
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.sort.js"></script> 
<script type="text/javascript" src="/static/jqwidgets/jqxcolorpicker.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxradiobutton.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdropdownbutton.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="/static/scatterdatareview/scripts/clustercontrol.js"></script>
<script type="text/javascript" src="/static/scatterdatareview/scripts/pointrenderingcontrol.js"></script>
<script type="text/javascript">
    var Dragging = function() {
        var selectedObj = null;

        function mousePressHandler(e) {
            selectedObj = retrieveParentDiv(e.target);
            if (selectedObj !== null && selectedObj.id == "rendering-panel") {
                var x = (e.clientX - pRen.left) / pRen.width * 1.2 - 0.1;
                var y = (e.clientY - pRen.top) / pRen.height * 1.2 - 0.1;
                pRen.addNewLine(x, y);
            } else {
                selectedObj = null;
            }
        };
        
        function mouseMoveHandler(e) {
            if (selectedObj !== null) {
                var x = (e.clientX - pRen.left) / pRen.width * 1.2 - 0.1;
                var y = (e.clientY - pRen.top) / pRen.height * 1.2 - 0.1;
                pRen.addPoint(x, y);
            }
        }

        function mouseReleaseHandler(e) {
            if (selectedObj !== null) {
                $('#color-picker-window').jqxWindow('open');
                selectedObj = null;
            }
        }
        
        function mouseWheelHandler(e) {
            
        };

        function onWindowResize() {
            pRen.update();
        }
        
        return {
            enable:function() {
                document.addEventListener("mousedown", mousePressHandler);
                document.addEventListener("mousemove", mouseMoveHandler);
                document.addEventListener("mouseup", mouseReleaseHandler);
                document.addEventListener("mousewheel", mouseWheelHandler);
                window.addEventListener("resize", onWindowResize);
            },
            disable:function() {
                document.removeEventListener("mousedown", mousePressHandler);
                document.removeEventListener("mousemove", mouseMoveHandler);
                document.removeEventListener("mouseup", mouseReleaseHandler);
                document.removeEventListener("mousewheel", mouseWheelHandler);
                window.removeEventListener("resize", onWindowResize);
            }
        }
        
        function retrieveParentDiv(obj) {
            while (obj !== null && obj.tagName !== "DIV")
                obj = obj.parentNode;
            return obj;
        };
    }
    
    Dragging().enable();
</script>

<script type="x-shader/x-vertex" id="vertexshader">
    attribute vec3 ca;

    varying vec3 vColor;

    void main() {
        vColor = ca;

        vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

        gl_PointSize = 8.0;

        gl_Position = projectionMatrix * mvPosition;

    }

</script>

<script type="x-shader/x-fragment" id="fragmentshader">

    uniform sampler2D texture;
    varying vec3 vColor;

    void main() {

        vec4 color = vec4( vColor, 1.0 ) * texture2D( texture, gl_PointCoord );;

        gl_FragColor = color;

    }

</script>

<script type="text/javascript">
    var container = document.getElementById("rendering-panel");
    container.innerWidth = 800;
    container.innerHeight = 600;

    var scene = new THREE.Scene();
    var camera = new THREE.OrthographicCamera(-0.1, 1.1, -0.1, 1.1, 0.1, 1000 );

    var renderer = new THREE.WebGLRenderer({ alpha: true });
    renderer.setClearColor( 0xffffff, 0);
    renderer.setSize( container.innerWidth, container.innerHeight );
    container.appendChild( renderer.domElement );

    pRen.width = container.innerWidth;
    pRen.height = container.innerHeight;
    pRen.dom = renderer.domElement;
    pRen.update();

    var lineMaterial = new THREE.LineBasicMaterial({
        color: 0x0000ff
    });

    var texture = THREE.ImageUtils.loadTexture( "/static/scatterdatareview/disc.png" );
    texture.wrapS = THREE.RepeatWrapping;
    texture.wrapT = THREE.RepeatWrapping;
    var pointMaterial = new THREE.ShaderMaterial( {
                uniforms: {
                    texture:   { type: "t", value: texture }
                },
                vertexShader:   document.getElementById( 'vertexshader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentshader' ).textContent,

                blending:       THREE.Normalblending,
                depthTest:      false,
                transparent:    true

            });


    camera.position.z = 5;

    var render = function () {
        requestAnimationFrame( render );

        for (var i = scene.children.length - 1; i >= 0; i--) {
            scene.remove(scene.children[i]);
        }

        if (cControl.dataset !== null) {
            var positions = new Float32Array( cControl.dataset.length * 3 );
            var colors = cControl.getPointColor();

            for (var i = 0; i < cControl.dataset.length; ++i) {
                var point = cControl.dataset[i];
                positions[3 * i] = point[0]
                positions[3 * i + 1] = 1.0 - point[1];
                positions[3 * i + 2] = 0.0;
            }

            var pointGeom = new THREE.BufferGeometry;
            pointGeom.addAttribute( 'position', new THREE.BufferAttribute( positions, 3 ) );
            pointGeom.addAttribute( 'ca', new THREE.BufferAttribute( colors, 3 ) );

            var scatter_point = new THREE.Points(pointGeom, pointMaterial);
            scene.add(scatter_point);
        }

        var lineGeom = new THREE.Geometry();
        for (var i = 0; i < pRen.currentLine.length; i++) {
            var p = pRen.currentLine[i];
            lineGeom.vertices.push(new THREE.Vector3(p.x, p.y, 0));
        }
        if (pRen.currentLine.length !== 0) {
            var p = pRen.currentLine[0];
            lineGeom.vertices.push(new THREE.Vector3(p.x, p.y, 0));
        }
        var line = new THREE.Line(lineGeom, lineMaterial);
        scene.add(line);

        renderer.render(scene, camera);
    };
    render();
</script>

<script type="text/javascript">
    function updateClusterTable() {
        var source = {
            localdata: [],
            datafields: [
                {name: "ID", type: "number"},
                {name: "Name", type: "string"},
                {name: "PointCount", type: "number"},
                {name: "Color", type: "string"},
                {name: "Delete", type: "string"}],
            datatype: "array"
        };

        source.localdata = cControl.getClusterData();

        var dataAdapter = new $.jqx.dataAdapter(source);
        var colorrenderer = function (row, datafield, value) {
                return '<button type="button" class="btn btn-default" style="' + value +'" align="center"></button>';
            }
        var imagerenderer = function (row, datafield, value) {
                return '<img style="margin-left: 5px;" height="30" width="40" src="/static/scatterdatareview/' + value + '"/>';
            }
       
        $("#cluster-table").jqxGrid({
            width: 400,
            source: dataAdapter,
            columnsresize: true,
            sortable: false,
            selectionmode: 'singlecell',
            columns: [
                { text: 'ID', datafield: 'ID', width: 40 },
                { text: 'Name', datafield: 'Name', width: 100 },
                { text: 'Point Count', datafield: 'PointCount', width: 100 },
                { text: 'Color', datafield: 'Color', width: 100, cellsalign: 'center', align: 'center', cellsrenderer: colorrenderer},
                { text: 'Delete', datafield: 'Delete', width: 100, cellsrenderer: imagerenderer, cellsalign: 'center', align: 'center'}
            ]
        });
    }

    function onSubmit() {
        var clusterData = {
            dataIndex: -1,
            clusterCount: 0,
            dataLabel: []
        };
        clusterData.dataIndex = cControl.datasetIndex;
        clusterData.dataLabel = cControl.getFinalLabel();
        clusterData.clusterCount = cControl.finalClusterCount;

        $.ajax({
            url:'/scatter/saveClusterData',
            type: "POST",
            data: clusterData,
            success:function(response){},
            complete:function(){},
            error:function (xhr, textStatus, thrownError){}
        });
    }

    function onNextTest() {

    }

    function onLoadData() {
        var requestStr = '/scatter/getDataset?index=' + cControl.datasetIndex;
        d3.json(requestStr, function updateData(data) {
            var rawData = JSON.parse(data)
            cControl.dataset = rawData;
        }); 
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#color-picker-window').jqxWindow({
            showCollapseButton: true, maxHeight: 400, maxWidth: 300, minHeight: 400, minWidth: 300, height: 300, width: 300,
            initContent: function () {
                $('#color-picker-window').jqxWindow('focus');
                $('#color-picker-window').jqxWindow('close');
            }
        });

        $("#colorPicker").jqxColorPicker({ color: "ffaabb", colorMode: 'hue', width: 300, height: 300});
        $("#colorPicker").on('colorchange', function (event) {
            cControl.setCurrentColor(event.args.color);
        });

        $("#color-apply-button").jqxButton({ width: '280'});
        // Subscribe to Click events.
        $("#color-apply-button").on('click', function () {
            $('#color-picker-window').jqxWindow('close');
            cControl.addCluster(pRen.currentLine);
            updateClusterTable();
            pRen.completeLine();
        });

        $("#cluster-table").on('cellselect', function (event) {
            var columnheader = $("#cluster-table").jqxGrid('getcolumn', event.args.datafield).text;
            if (columnheader !== 'Delete') return;
            var rowIndex = event.args.rowindex;
            var id = $("#cluster-table").jqxGrid('getcellvalue', rowIndex, "ID");
            cControl.removeCluster(id);
            updateClusterTable();
        });

        onLoadData();
        updateClusterTable();
    });
</script>
{% endblock %}

</html>