{% extends "main/layout.html" %}

{% block content %}
<div id='tool-div' class='panel-border tool-panel'></div>
<div id='map-div' class='map-panel'></div>
<div id='stream-div' class='panel-border stream-panel'></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src='/static/d3.v3.js'></script>
<script type="text/javascript" src='/static/topojson.js'></script>
<script type="text/javascript" src="/static/scripts/utility.js"></script>
<script type="text/javascript" src="/static/scripts/widgets.js"></script>
<script type="text/javascript" src="/static/scripts/functionpanel.js"></script>
<script type="text/javascript" src="/static/scripts/renderingboard.js"></script>
<script type="text/javascript" src="/static/weathervis/scripts/lodglyphmap.js"></script>
<script type="text/javascript" src="/static/weathervis/scripts/weathervis.js"></script>
<script type="text/javascript">
	var Dragging = function(){
		var selectedObj = null;
		
        function mousePressHandler(e) {
        	selectedObj = retrieveParentDiv(e.target);
        	while (selectedObj !== null){
        		GeoVis.Utility.eventMapper.raiseEvent(selectedObj.id, e);
        		selectedObj = retrieveParentDiv(selectedObj.parentNode);
        	}
        };
        
        function mouseEventHandler(e) {
        	GeoVis.Utility.eventMapper.raiseEventAll(e);
        }
        
        function mouseWheelHandler(e) {
        	var currentObj = retrieveParentDiv(e.target);
        	while (currentObj !== null){
        		GeoVis.Utility.eventMapper.raiseEvent(currentObj.id, e);
        		currentObj = retrieveParentDiv(currentObj.parentNode);
        	}
        };
        
        return {
            enable:function(){
                document.addEventListener('mousedown', mousePressHandler);
                document.addEventListener('mousemove', mouseEventHandler);
                document.addEventListener('mouseup', mouseEventHandler);
                document.addEventListener('mousewheel', mouseWheelHandler);
            },
            disable:function(){
                document.removeEventListener('mousedown', mousePressHandler);
                document.removeEventListener('mousemove', mouseEventHandler);
                document.removeEventListener('mouseup', mouseEventHandler);
                document.removeEventListener('mousewheel', mouseWheelHandler);
            }
        }
        
        function retrieveParentDiv(obj){
        	while (obj !== null && obj.tagName !== 'DIV')
        		obj = obj.parentNode;
        	return obj;
        };
    }
    
    Dragging().enable();
</script>
{% endblock %}

</html>